{% assign lang = site.lang | split: '-' | first %}

{% case lang %}
  {% when 'pt' %}
    {% assign lang = site.lang %}

  {% when 'zh' %}
    {% assign lang_last = site.lang | split: '-' | last %}
    {% case lang_last %}
      {% when 'cn', 'sg', 'my', 'hans' %}
        {% assign lang = 'cn' %}
      {% when 'tw', 'hk', 'mo', 'hant' %}
        {% assign lang = 'zh-tw' %}
    {% endcase %}

    {% comment %} Add a new language using when... if needed {% endcomment %}
    {% comment %} If you still encounter language-display issues, check the available locale codes in github-readme-stats (different from ISO-639 standard used in your website) {% endcomment %}
    {% comment %} https://github.com/anuraghazra/github-readme-stats?tab=readme-ov-file#available-locales {% endcomment %}
{% endcase %}

<div class="repo p-2 text-center repo-card">
  <a href="https://github.com/{{ include.username }}" class="repo-card-link" target="_blank" rel="noopener noreferrer">
    <img
      src="{{ '/assets/img/github-sign.png' | relative_url }}"
      alt="{{ include.username }} GitHub profile"
      class="repo-card-icon"
    >
    <div class="repo-card-text">
      <div class="repo-card-title">{{ include.username }}</div>
      <div class="repo-card-subtitle">{{ 'GitHub Profile' | t }}</div>
    </div>
  </a>
</div>
